*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.container{
    background-color: rgba(183, 188, 192, 0.829);
    width: 60%;
    margin: auto;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.post{
    background-color: white;
    width: 95%;
    margin: auto;
    padding: 1rem;
}

.post-date{
    color: rgb(17, 226, 226);
}

.quotes{
    border-left: 5px solid rgba(183, 188, 192, 0.829);
    padding-left: 5px;
}

img{
    width: 100%;
}